<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>首頁</title>
    <style>
        
        body{
            background-color: aquamarine; 
            text-align: center;
        }
    </style>
    
</head>
<body>
    <h1>細懸浮微粒（PM2.5）監測數據</h1>
    <table border="1" style="margin: 5px auto; width: 80%;">
        <thead style="background-color: greenyellow;">
            <tr>
                {% for i in columns %}
                <th>{{i}}</th>
                {%endfor%}
            </tr>
            <tbody style="background-color: cornsilk;">
                {% for i in datas %}
                    <tr>
                        {% for j in i %}
                        <td>{{j}}</td>
                        {%endfor%}
                    </tr>
                {%endfor%}
            </tbody>
        </thead>
</table>
</body>
</html>